events {
  worker_connections 1024;
}
env CLUSTER;
env CORE;
env TEAMS;
error_log stderr info;
http {
  access_log /dev/stdout;
  server {
    include mime.types;
    # include /usr/local/openresty/nginx/conf/mime.types;
    listen 80;
    root /app/build;
    index index.html;
    gzip on;
    gzip_min_length 1000;
    gzip_buffers 4 32k;
    gzip_proxied any;
    gzip_types text/plain application/javascript application/x-javascript text/javascript text/xml text/css;
    gzip_vary on;
    proxy_set_header Host $http_host;
    location / {
      try_files $uri $uri/ /index.html;
    }
    location /session {
      access_by_lua_file /session.lua;
    }
    location /healthz {
      return 200 'OK';
    }
    location ~* \.(?:css|js|eot|woff|woff2|ttf|svg|otf) {
      # Enable GZip for static files
      gzip_static on;
      # Indefinite caching for static files
      expires max;
      add_header Cache-Control "public";
    }
  }
}