events {
  worker_connections 1024;
}
pid       /var/run/nginx/nginx.pid;
error_log stderr info;
http {
  access_log /dev/stdout;
  client_body_temp_path /var/tmp/nginx/client_body;
  fastcgi_temp_path /var/tmp/nginx/fastcgi_temp;
  proxy_temp_path /var/tmp/nginx/proxy_temp;
  scgi_temp_path /var/tmp/nginx/scgi_temp;
  uwsgi_temp_path /var/tmp/nginx/uwsgi_temp;
  real_ip_header X-Forwarded-For;
  log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                  '$status $body_bytes_sent "$http_referer" '
                  '"$http_user_agent"';
  server {
    include /etc/nginx/mime.types;
    default_type  application/octet-stream;
    # ---- Clickjacking protection ----
    add_header Content-Security-Policy "frame-ancestors 'none'" always;
    add_header X-Frame-Options "DENY" always;
    # --------------------------------
    sendfile on;
    keepalive_timeout 65;
    listen 8080;
    root /app/build;
    index index.html;
    gzip on;
    gzip_min_length 1000;
    gzip_buffers 4 32k;
    gzip_proxied any;
    gzip_types text/plain application/javascript application/x-javascript text/javascript application/json text/xml text/css;
    gzip_vary on;
    proxy_set_header Host $http_host;
    location / {
      try_files $uri $uri/ /index.html;
    }
    location /v1/healthz {
      return 200 'OK';
    }
    location ~ ^/teams/([^/]+)/agents/([^/]+)/(.*)$ {
      set $team_id $1;
      set $agent_name $2;
      set $agent_path $3;
      resolver ${KUBE_DNS_SERVICE_HOST} valid=10s;
      proxy_pass http://$agent_name.team-$team_id.svc.cluster.local:9099/$agent_path$is_args$args;
      proxy_http_version 1.1;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      # Support for streaming responses
      proxy_buffering off;
      proxy_cache off;
      chunked_transfer_encoding on;
    }
    location ~* \.(?:css|js|eot|woff|woff2|ttf|svg|otf) {
      # Enable GZip for static files
      gzip_static on;
      # Indefinite caching for static files
      expires max;
      add_header Cache-Control "public";
    }
    location ~* \.(?:json) {
      # Enable GZip for static files
      gzip_static on;
      # 1 day caching for json files which are mainly used for translations and config of client
      expires 1d;
      add_header Cache-Control "public";
    }
  }
}